{% load staticfiles %}
{% load i18n %}
{% load l10n %}
<!DOCTYPE html>
<html>
	<head>
  		<meta charset="UTF-8">
  		<title>HelpDesk - Example</title>
  		<link href="{% static "/static/css/style.css" %}" rel="stylesheet" type="text/css" />
	</head>
	<body>
  		<div id="login">
  			<form name="login_form" class="login_form" action={% url 'loginview' %} method="POST">
			    <p>{{ state }}</p>
			    <table>
  			    {{form.as_table}}
  			    </table>
     			    <input type="submit" name="submit" class="button" value="{% trans "Login"%}">
	 		</form>
   		</div>
	</body>
</html>
