{% extends 'base.html' %}
{% block container-fluid %}
<div class="row">
   <div class="col-lg-12">
       <h1 class="page-header">Taleplerim</h1>
       <ol class="breadcrumb">
       <li class="active">
       <i class="fa fa-dashboard"></i> 
	{%if tickets%}
		Olusturdugunuz Ticketlar ({{tickets.count}})</br>
		{% for ticket in tickets %}
			<label>id:{{ticket.id}} title:{{ticket.title}}</label><br/>
		{% endfor %}
	{% else %}
		olusturdugunuz ticket yok
	{% endif %}
        </li>
      </ol>
  </div>
</div>
{% endblock %}
