{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
  		<meta charset="UTF-8">
  		<title>HelpDesk - Example</title>
  		<link href="{% static "/static/css/style.css" %}" rel="stylesheet" type="text/css" />
	</head>
	<body>
  		<div id="login">
  			<form name="login_form" class="login_form" action={% url 'userprofile.views.loginview' %} method="POST">
			    <p>{{ state }}</p>
  			    {{form.as_p}}
     			    <input type="submit" name="submit" class="button" value="Login">
	 		</form>
   		</div>
	</body>
</html>
